on boot

# Ensure some kernel boot defaults are set
    # Set optimistic
    write /proc/sys/net/ipv6/conf/all/optimistic_dad 1
    write /proc/sys/net/ipv6/conf/all/use_optimistic 1

    # Set UKSM CPU governor
    write /sys/kernel/mm/uksm/cpu_governor low

    # Cluster0 (Apollo) interactive governor
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 75
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 19000

    # Cluster1 (MNGS) interactive governor
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 65 1500000:75
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 89
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 59000 1300000:39000 1700000:19000
