on init
    mkdir /efs 0771 radio system
    symlink /dev/block/platform/155a0000.ufs/by-name/RADIO /dev/mbin0
    restorecon /dev/mbin0

    write /proc/sys/net/core/netdev_max_backlog 5000

on fs
    chown radio system /efs
    chmod 0771 /efs
    chown radio radio sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state

    # /efs/factory.prop for Dual / Single SIM settings
    chown radio radio /efs/factory.prop
    chmod 0600 /efs/factory.prop

    # For cpefs partition
    mkdir /cpefs 0771 radio system
    wait /dev/block/platform/155a0000.ufs/by-name/CPEFS
    mount ext4 /dev/block/platform/155a0000.ufs/by-name/CPEFS /cpefs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic
    chown radio system /cpefs
    chmod 0771 /cpefs

on post-fs-data
    # For Samsung members
    chmod 0775 /data/log/err
    chown radio radio /data/log/err

service cpboot-daemon /sbin/cbd -d -tss310 -bm -mm -P platform/155a0000.ufs/by-name/RADIO -c platform/155a0000.ufs/by-name/CP_DEBUG
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    seclabel u:r:cbd:s0

# SS/DS configuration
on property:ro.multisim.simslotcount=*
   write /sys/module/modem_ctrl_ss310ap/parameters/ds_detect ${ro.multisim.simslotcount}

on property:ro.multisim.simslotcount=1
    setprop persist.radio.multisim.config ss

on property:ro.multisim.simslotcount=2
    setprop persist.radio.multisim.config dsds
