
on init
#omr
    mkdir /omr 0771 system system

on fs
#omr
    wait /dev/block/platform/11120000.ufs/by-name/OMR
    mount ext4 /dev/block/platform/11120000.ufs/by-name/OMR /omr nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    chown system system /omr
    chmod 0771 /omr
