# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
on boot
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-cas stream 660  casdrm mmb
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system
    onrestart restart cpboot-daemon

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn
    disabled
    onrestart restart cpboot-daemon

on property:persist.sys.cpboot=disable
    stop ril-daemon
    stop cpboot-daemon

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw

on fs
# DIAG
service DIAG-daemon /system/bin/diagexe
    class main
    user root
    group system radio inet net_raw

