config EXYNOS_SCORE_PLATFORM
	bool "Select Platform"
	select EXYNOS_SCORE_EXYNOS8890
	help
	  This is a selection of platform

config EXYNOS_SCORE_EXYNOS8890
	bool "Use Exynos8890 platform"
	depends on EXYNOS_SCORE_PLATFORM
	help
	  This is a exynos8890 platform
