on post-fs-data

# LGT contents directory
    mkdir /data/data/com.ubivelox.wipiplayer/W 0770 system lgt_gid
    mkdir /data/LGTContents 0770 system lgt_gid
    mkdir /data/LGTContents/video 0770 system lgt_gid
    mkdir /data/LGTContents/music 0770 system lgt_gid
    mkdir /data/LGTContents/bell 0770 system lgt_gid
    mkdir /data/LGTContents/app 0770 system lgt_gid
    mkdir /data/LGTContents/DLtmp 0770 system lgt_gid
    mkdir /data/LGTContents/ringforme 0770 system lgt_gid

    chown system lgt_gid /data/data/com.ubivelox.wipiplayer/W
    chown system lgt_gid /data/LGTContents
    chown system lgt_gid /data/LGTContents/video
    chown system lgt_gid /data/LGTContents/music
    chown system lgt_gid /data/LGTContents/bell
    chown system lgt_gid /data/LGTContents/app
    chown system lgt_gid /data/LGTContents/DLtmp
    chown system lgt_gid /data/LGTContents/ringforme

# HD-DMB CAS Key Data
    mkdir /data/.dmbca 0771
    chown media system /data/.dmbca
    chmod 0771 /data/.dmbca

on boot

#   Assign TCP buffer thresholds to be ceiling value of technology maximums
#   Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608
    
# tdmb
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb

on fs

service dmb /system/bin/dmbserver
    class main
    user media
    group system radio inet misc audio graphics net_bt net_bt_admin sdcard_rw sdcard_r shell media_rw dpgp

