on post-fs-data
# GPS
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/beidou_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info

# SensorHub Debugging File Node
chown gps system /sys/devices/platform/bbd.0/BBD
chown gps system /sys/devices/platform/bbd.0/DEV
chown gps system /sys/devices/platform/bbd.0/ESW
chown gps system /sys/devices/platform/bbd.0/baud
chown gps system /sys/devices/platform/bbd.0/debug
chown gps system /sys/devices/platform/bbd.0/buf
chown gps system /sys/devices/platform/bbd.0/pl
chown gps system /sys/devices/platform/bbd.0/passthru
chown gps system /sys/devices/platform/bbd.0/ssi_xfer
chown gps system /sys/devices/platform/bbd.0/ssi_count
chown gps system /sys/devices/platform/bbd.0/ssi_trace
chown gps system /sys/devices/platform/bbd.0/shmd

# SensorHub (Location Hub)
service lhd /system/bin/lhd /system/etc/lhd.conf
    class main
    user gps
    group system inet net_raw
    ioprio be 0

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw wakelock
    ioprio be 0
    seclabel u:r:gpsd:s0
